<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
  </head>
  
  <body>
      <div class="container">
        <h1>Sign In</h1>
        <br>
        <form action="" method="post">
          <input type="text" placeholer="Username" name="username" value="{{
          request.form.username }}">
          <input type="text" placeholder="Password" name="password" value="{{
          request.form.pasword }}">
          <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
        {% endif %}
      </div>
  </body>
</html>
