<!DOCTYPE html>
<html>
	<head>
		<title>Welcome Page</title>
	</head>

	<body>
		<div class="container">
			<body style="background-color:powderblue;">
        <h1>Welcome to the BikeShare Website</h1>
			</body>
			<img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiFkNXEnpflAhXxQd8KHdt-DS4QjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D%26url%3Dhttps%253A%252F%252Fwww.brandeps.com%252Flogo%252FT%252FTufts-University-Seal-01%26psig%3DAOvVaw1tWBVk6SSdqFNXvNzW0GuB%26ust%3D1570987203203281&psig=AOvVaw1tWBVk6SSdqFNXvNzW0GuB&ust=1570987203203281">
        <br>
        <p>Click <a href="/login">here</a> to login</p>
      </div>
	</body>
</html>
